.the__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_right{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.menu-app{
    position: fixed;
    top: 60px;
    left: 90px;
    width: 100%;
    background-color: white;
    color: #fff;
    padding: 10px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}
.menu-app img {
    width: 45px;
    height: 45px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.icon_notify{
    cursor: pointer;
    background-image: url(../icon/notify.png);
}
.user_icon{
    cursor: pointer;
    border: unset;
    margin-left: 10px ;
    border-radius: 50%;
    background-color: rgb(151, 144, 44);
}

.name-class{
    font-weight: 700;
    font-size: 20px;
}