.the__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_right{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.menu-app{
    
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    color: #000;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}
.app_icon{
    cursor: pointer;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width:120px;  
    height: 70px;
}
.app_icon:hover{
    background-color: #63545437;
}
.icon-app{      
    color: #000;
    margin-right: 8px;

}


.icon-app img{
    height: 36px;
    width: 36px;    
}

.icon_notify{
    cursor: pointer;
    background-image: url(../icon/notify.png);
}
.user_icon{
    cursor: pointer;
    border: unset;
    margin-left: 10px ;
    border-radius: 50%;
    background-color: rgb(151, 144, 44);
}

.name-class{
    font-weight: 700;
    font-size: 20px;
}
