.chat_room{
    display: flex;
    height: 100%;

}
.search_member_chat{
    margin: 0 10px 10px 10px;
}
.left_menu_chat{
    width: 300px;
    height: 100%;
}
.item_member_chat{
    height: 40px;
    margin: 0 10px;
    display: flex;    
    align-items: center;
    

}
.active{
    background-color: #bae7ff;
    border-radius: 4px;
}
.btn_name_chat{
    width: 40px;
    height: 40px;
    border: unset;
    border-radius: 4px;
    font-size: 18px;
}
.name_member_chat{
    padding-left: 10px;
    font-size: 16px;
}
.home-chat{
    width: calc(100% - 300px );
    height: 100%;  
    background-color: #bae7ff;
}
.home-message{
    height: calc(100% - 50px);
    overflow: auto;
}
.home-input-send{
    position: relative;
    padding: 10px;
    box-shadow: 20px 20px 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-icon{
    width: 50px;
    display: flex;
    justify-content: center;
}
.input-send{
    width: calc(100% - 50px);
}
.input-icon ion-icon{
    font-size: 30px;
}
.item-message{
    
    display: flex;
    margin-top: 10px;
    border-radius: 50%;
    max-width: calc(100% - 50px);
}
.header-message{
    display: flex;
    font-size: 14px;
    font-weight: 600;
}
.author-msg{
    margin-right: 10px;

}
.input-icon{
    cursor: pointer;
}
.content-msg{
    border: unset;
    outline: unset;
    border-radius: .4em;
    color: #fff;
    background-color: #6464648e;
    padding: 10px;
    text-align: justify;
}
.you-message{
    background-color: #1890ff;

  }
  .emojiMessage{
    position: absolute;
    top: -400px;
    left: 300px;
  }