.the_contact{
    display: flex;   
    flex-direction: row; 
     height: 100%;
     width: 100%;     
   
}

.left_menu{
   height: 100%;
   width: 300px;
   background-color: aqua;
}
.body-contact{
    height: 100%;
    width: calc(100% - 300px);
    background-color: rgb(63, 27, 129);
}